---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FeedbackButtons from "../../components/footer/FeedbackButtons.astro";
import screenshot from '#images/extension/JJCE_Banner.png';
import ext_stats from '#images/extension/ext_stats.png';
import overlay1 from '../../images/extension/JJ_Overlay_1_Small.png';
import overlay2 from '../../images/extension/JJ_Overlay_2_Small.png';
import overlay5 from '../../images/extension/JJ_Overlay_5.png';
import overlay6 from '../../images/extension/JJ_Overlay_6.png';
import {Image} from "astro:assets";
---

<BaseLayout
        title="The Jingle Jam Twitch Extension"
        description="The Jingle Jam Community Twitch Extension is a Twitch Extension showing the Charities, Community Fundraisers and Yogs schedule"
        canonical="https://jinglejam.ostof.dev/twitch-extension"
>
    <div class={'mx-auto flex flex-col items-center p-1 text-center text-white md:w-[75%]'}>
        <p class={'p-2 ~text-2xl/4xl font-bold'}>Jingle Jam Community Twitch Extensions</p>
        <p>These Extensions are for everyone who participates in the Jingle Jam and stream on Twitch.</p>
        <p>They allow your viewers to see the charities and other community Fundraisers</p>
        <p>Feedback regarding the extensions is always welcome.</p>
        <FeedbackButtons/>
    </div>


    <div class={'flex flex-col items-center p-2 text-white'}>
        <p class="~text-xl/2xl">Twitch Panel Extension</p>
        <a
                class={'p-1 text-xl md:p-2 underline hover:text-twitch-100'}
                href={'https://dashboard.twitch.tv/extensions/7m5fitr4o8raxn6fv59lndv2iy0uuz'}
                target={'_blank'}
        >
            Get the Panel Extension on Twitch
        </a>
        <Image class={'md:w-[50%]'} src={screenshot} alt={'Discovery'}/>
        <p>This is a Panel which sits below your stream.</p>
        <p>Users can click on each charity to visit their websites or on Community fundraisers to visit their Twitch
            pages.</p>
        <p>The extension is customizable. You can change the color theme or the order of the tabs.</p>

        <a
                class="underline text-white"
                href="/twitch-extension/privacy"
        >Privacy Policy</a>
    </div>
    <div class="h-8"/>
    <div class={'flex flex-col items-center p-2 text-white gap-2'}>
        <p class="~text-xl/2xl">Twitch Overlay Extension</p>
        <a
                class={'p-1 text-xl md:p-2 underline hover:text-twitch-100'}
                href={'https://dashboard.twitch.tv/extensions/9urrg74yzq8di9hqr5prsto5lbmq3x'}
                target={'_blank'}
        >
            Get the Overlay Extension on Twitch
        </a>
        <Image src={overlay5} alt={'Overlay on Stream'} width={600}/>
        <div class="flex flex-wrap gap-4">
            <Image src={overlay1} alt={'About JJ'} width={300}/>
            <Image src={overlay2} alt={'Charities'} width={300}/>
        </div>
        <Image src={overlay6} alt={'Chat integration'} width={600}/>
        <div class="text-center">
            <p>This is a Over which sits on top of the Twitch Video Player</p>
            <p>It is only visible when users hover over the Video Player.</p>
            <p>Users can also deactivate it.</p>
            <p>It has similar functionality to the Panel Extension</p>
            <p>Additionally Mods can use chat commands to show little banners on stream with links to the charities
                website and tiltify page</p>
        </div>
    </div>
    <div class="h-8"/>

    <div>
        <p class="text-center text-white">Thanks to Nairdwood for making the Extension assets. And thanks to No1mann for the access to the Jingle Jam Donation Tracker.</p>
    </div>

</BaseLayout>
